In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import datetime as datetime
import seaborn as sns
import matplotlib.pyplot as plt

#### *Load Dataset*

In [2]:
#
file= pd.read_csv("../IDS_CSV/IDS_ALLCountries_Data.csv")

In [3]:
file.head(5)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Central African Republic', 'Chad',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Djibouti', 'Dominica',
       'Dominican Republic',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Eritrea', 'Eswatini',
       'Ethiopia', 'Europe & Central Asia (excluding high income)',
       'Fiji', 'Gabon', 'Gambia, The', 'Georgia', 'Ghana', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'IDA only', 'India', 'Indonesia', 'Iran, Islamic Rep.',
       'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kyrgyz Republic', 'Lao PDR',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Low & middle income', 'Low income',
       'Lower middle income', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Mauritania', 'Mauritius', 'Mexico',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Romania', 'Russian Federation',
       'Rwanda', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines',
       'Sub-Saharan Africa (excluding high income)', 'Sudan',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'Upper middle income',
       'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe', nan,
       'Data from database: International Debt Statistics',
       'Last Updated: 10/10/2021'], dtype=object)

In [5]:
#Saving file in a variable and converting to ISO-8859-1 format
csv6= "../IDS_CSV/IDS_SeriesMetaData.csv"

file1 = pd.read_csv(csv6, encoding='ISO-8859-1')

In [6]:
file1.head(5)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
0,DT.GPA.DPPG,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
1,DT.GPA.OFFT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
2,DT.GPA.PRVT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
3,DT.GRE.DPPG,NaN,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...,The grant element of a loan is the grant equiv...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
4,DT.GRE.OFFT,NaN,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...,The grant element of a loan is the grant equiv...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN

#### *Joining two Dataset*

In [7]:

# fileSource.merge(fileDestination, left_on='lkey', right_on='rkey')  -- merging data into source

merge_file = file.merge(file1, left_on='Series Code', right_on='Code' )

#### *Creating CSV File*

In [8]:
merge_file.to_csv("JoinedDataSet.csv")

In [9]:
merge_file.head(5)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
1,Albania,ALB,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
2,Algeria,DZA,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,3.5975,5.6583,3.5625,6.0919,...,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
3,Angola,AGO,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
4,Argentina,ARG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,2.9281,2.5964,1.8377,3.1149,...,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN

#### **Creating a new Column and adding all the debt yearwise into single column Debt**

In [10]:
# df['Sum']=df.iloc[:,1:3].sum(axis=1) print(df)

merge_file['debt']=merge_file.iloc[:,6:64].sum(axis=1)

In [11]:
merge_file.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,debt
count,3.499300e+04,3.584300e+04,3.657600e+04,3.736000e+04,3.791300e+04,3.868700e+04,3.916500e+04,4.005600e+04,4.071400e+04,4.099100e+04,...,5.041100e+04,1.245900e+04,1.237700e+04,1.225400e+04,1.213400e+04,1.183400e+04,1.161100e+04,1.146800e+04,1.113200e+04,7.738400e+04
mean,2.418032e+08,2.615074e+08,2.960808e+08,3.708542e+08,4.697524e+08,5.624011e+08,6.298892e+08,7.691486e+08,9.111953e+08,1.087913e+09,...,1.526919e+10,5.242485e+09,4.701605e+09,4.419949e+09,4.149007e+09,3.973974e+09,3.084962e+09,2.954229e+09,3.065632e+09,1.596309e+11
std,5.287998e+09,5.676280e+09,6.335208e+09,7.936191e+09,9.931066e+09,1.093636e+10,1.174206e+10,1.321511e+10,1.436936e+10,1.698454e+10,...,2.811448e+11,3.476405e+10,2.991221e+10,2.752301e+10,2.418226e+10,2.332526e+10,1.706810e+10,1.613358e+10,1.663681e+10,3.437312e+12
min,-1.684299e+09,-2.095143e+09,-4.723625e+08,-2.899000e+08,-3.117914e+09,-1.393498e+10,-1.060234e+10,-1.485314e+10,-2.658528e+10,-1.963556e+10,...,-1.257010e+11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.170641e+12
25%,7.220000e-02,2.380550e+00,6.050350e+00,7.668257e+00,1.392980e+01,2.182210e+01,4.111829e+01,1.201814e+02,3.000000e+03,5.000000e+03,...,5.140000e-02,1.343719e+07,1.388824e+07,1.379260e+07,1.272786e+07,1.263271e+07,1.168700e+07,1.000000e+07,8.588643e+06,0.000000e+00
50%,1.654475e+06,1.826000e+06,2.359205e+06,2.848000e+06,3.481873e+06,4.510768e+06,5.107200e+06,6.612052e+06,7.480864e+06,9.306000e+06,...,2.858300e+07,1.229288e+08,1.245334e+08,1.227250e+08,1.169949e+08,1.145540e+08,9.867047e+07,9.149800e+07,8.066908e+07,1.724970e+08
75%,2.174353e+07,2.423075e+07,3.030630e+07,3.611921e+07,4.597607e+07,5.677565e+07,6.161305e+07,7.562230e+07,9.000000e+07,1.076840e+08,...,6.925054e+08,9.493626e+08,9.276454e+08,8.759689e+08,8.497433e+08,7.577243e+08,6.832353e+08,6.911090e+08,6.063123e+08,5.123633e+09
max,5.843440e+11,6.310940e+11,7.092430e+11,8.970180e+11,1.137400e+12,1.258790e+12,1.351730e+12,1.516240e+12,1.631680e+12,1.928800e+12,...,2.987920e+13,1.065070e+12,9.303370e+11,8.574520e+11,7.362400e+11,6.609430e+11,4.867220e+11,4.483410e+11,4.294500e+11,4.719149e+14

In [12]:
merge_file.columns

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', 'Code', 'License Type', 'Indicator Name',
       'Short definition', 'Long definition', 'Source', 'Topic', 'Dataset',
       'Periodicity', 'Aggregation method', 'General comments', 'debt'],
      dtype='object')

In [13]:
merge_file.dtypes

Country Name              object
Country Code              object
Counterpart-Area Name     object
Counterpart-Area Code     object
Series Name               object
                          ...
Dataset                   object
Periodicity               object
Aggregation method        object
General comments          object
debt                     float64
Length: 77, dtype: object

In [14]:
merge_file.isnull()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments,debt
0,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77379,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
77380,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
77381,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
77382,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False
77383,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,True,False

#### **After Adding Debt Column**

In [15]:
afterDebt_col = merge_file.to_csv("AddingDebtColumn_JoinedDataSet.csv")

In [16]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#### **Check for null values**

In [17]:
merge_file['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Central African Republic', 'Chad',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Djibouti', 'Dominica',
       'Dominican Republic',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Eritrea', 'Eswatini',
       'Ethiopia', 'Europe & Central Asia (excluding high income)',
       'Fiji', 'Gabon', 'Gambia, The', 'Georgia', 'Ghana', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'IDA only', 'India', 'Indonesia', 'Iran, Islamic Rep.',
       'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kyrgyz Republic', 'Lao PDR',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Low & middle income', 'Low income',
       'Lower middle income', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Mauritania', 'Mauritius', 'Mexico',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Romania', 'Russian Federation',
       'Rwanda', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines',
       'Sub-Saharan Africa (excluding high income)', 'Sudan',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'Upper middle income',
       'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [18]:

countrywise = merge_file.groupby([ 'Country Name' , 'Series Code', 'debt'])['debt'].count()

countrywise

Country Name  Series Code        debt
Afghanistan   BM.GSR.TOTL.CD     96370208795.000     1
              BN.CAB.XOKA.CD     -37545157209.200    1
              BX.GRT.EXTA.CD.DT  59299370000.000     1
              BX.GRT.TECH.CD.DT  9027510000.000      1
              BX.GSR.TOTL.CD     26392909373.000     1
                                                    ..
Zimbabwe      DT.UND.PRVT.CD     4656223137.700      1
              FI.RES.TOTL.CD     11486436779.940     1
              FI.RES.TOTL.DT.ZS  579.702             1
              FI.RES.TOTL.MO     29.061              1
              NY.GNP.MKTP.CD     416213755386.000    1
Name: debt, Length: 77384, dtype: int64

In [19]:
merge_file.head()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments,debt
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,103.697
1,Albania,ALB,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,217.086
2,Algeria,DZA,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,3.598,5.658,3.562,6.092,...,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,164.481
3,Angola,AGO,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,70.853
4,Argentina,ARG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,2.928,2.596,1.838,3.115,...,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,272.843

In [20]:
csv_file = merge_file[["Country Name", "Country Code", "Indicator Name", "Series Code", "debt"]]
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77384 entries, 0 to 77383
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    77384 non-null  object
 1   Country Code    77384 non-null  object
 2   Indicator Name  76432 non-null  object
 3   Series Code     77384 non-null  object
 4   debt            77384 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.5+ MB

In [21]:
csv_file.to_csv("Final.csv")

In [22]:
cleaned_csv_file = pd.read_csv("../IDS_CSV/FinalCleanedCSV.csv")

In [23]:
csv_file.head(10)

,Country Name,Country Code,Indicator Name,Series Code,debt
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,103.697
1,Albania,ALB,Average grace period on new external debt comm...,DT.GPA.DPPG,217.086
2,Algeria,DZA,Average grace period on new external debt comm...,DT.GPA.DPPG,164.481
3,Angola,AGO,Average grace period on new external debt comm...,DT.GPA.DPPG,70.853
4,Argentina,ARG,Average grace period on new external debt comm...,DT.GPA.DPPG,272.843
5,Armenia,ARM,Average grace period on new external debt comm...,DT.GPA.DPPG,224.736
6,Azerbaijan,AZE,Average grace period on new external debt comm...,DT.GPA.DPPG,151.588
7,Bangladesh,BGD,Average grace period on new external debt comm...,DT.GPA.DPPG,426.237
8,Belarus,BLR,Average grace period on new external debt comm...,DT.GPA.DPPG,101.912
9,Belize,BLZ,Average grace period on new external debt comm...,DT.GPA.DPPG,250.528

In [24]:
cleaned_csv_file.head(10)

,Country Name,Country Code,Indicator Name,Series Code,debt
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,103.697
1,Albania,ALB,Average grace period on new external debt comm...,DT.GPA.DPPG,217.086
2,Algeria,DZA,Average grace period on new external debt comm...,DT.GPA.DPPG,164.481
3,Angola,AGO,Average grace period on new external debt comm...,DT.GPA.DPPG,70.853
4,Argentina,ARG,Average grace period on new external debt comm...,DT.GPA.DPPG,272.843
5,Armenia,ARM,Average grace period on new external debt comm...,DT.GPA.DPPG,224.736
6,Azerbaijan,AZE,Average grace period on new external debt comm...,DT.GPA.DPPG,151.588
7,Bangladesh,BGD,Average grace period on new external debt comm...,DT.GPA.DPPG,426.237
8,Belarus,BLR,Average grace period on new external debt comm...,DT.GPA.DPPG,101.912
9,Belize,BLZ,Average grace period on new external debt comm...,DT.GPA.DPPG,250.528

#### *Finding Number of Distinct Countries*

In [25]:
distinct_country = cleaned_csv_file['Country Name'].unique()

print("The count of number of Distinct Countries are: -")
len(distinct_country)

The count of number of Distinct Countries are: -

125

In [26]:
cleaned_csv_file[cleaned_csv_file['Country Name']== 'China']

,Country Name,Country Code,Indicator Name,Series Code,debt
24,China,CHN,Average grace period on new external debt comm...,DT.GPA.DPPG,238.144
149,China,CHN,Average grace period on new external debt comm...,DT.GPA.OFFT,246.607
274,China,CHN,Average grace period on new external debt comm...,DT.GPA.PRVT,203.595
399,China,CHN,Average grant element on new external debt com...,DT.GRE.DPPG,4.361
524,China,CHN,Average grant element on new external debt com...,DT.GRE.OFFT,494.045
...,...,...,...,...,...
49399,China,CHN,"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD,89626829837.900
49524,China,CHN,"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD,104525227605.400
49649,China,CHN,"PPG, other private creditors (DOD, current US$)",DT.DOD.PROP.CD,442926326827.000
49774,China,CHN,"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD,24172091838.100
49899,China,CHN,"PPG, other private creditors (NFL, current US$)",DT.NFL.PROP.CD,19058536000.000

In [27]:
print("The number of Distinct Countries are: -")
pd.DataFrame(cleaned_csv_file['Country Name'].unique())

The number of Distinct Countries are: -

                 0
0      Afghanistan
1          Albania
2          Algeria
3           Angola
4        Argentina
..             ...
120  Venezuela, RB
121        Vietnam
122    Yemen, Rep.
123         Zambia
124       Zimbabwe

[125 rows x 1 columns]

#### *Finding out the distinct debt indicators*

In [28]:
print("The number of Distinct Countries are: -")
pd.DataFrame(cleaned_csv_file['Series Code'].unique())

The number of Distinct Countries are: -

                  0
0       DT.GPA.DPPG
1       DT.GPA.OFFT
2       DT.GPA.PRVT
3       DT.GRE.DPPG
4       DT.GRE.OFFT
..              ...
395  DT.AMT.PROP.CD
396  DT.DIS.PROP.CD
397  DT.DOD.PROP.CD
398  DT.INT.PROP.CD
399  DT.NFL.PROP.CD

[400 rows x 1 columns]

#### *Totalling the amount of debt owed by the countries*

In [29]:
cleaned_csv_file.groupby('Country Name')['debt'].sum().reset_index()

      Country Name               debt
0      Afghanistan   777678096862.173
1          Albania  1855169814342.250
2          Algeria 16272203060332.326
3           Angola 13975414863614.918
4        Argentina 65242199543882.516
..             ...                ...
120  Venezuela, RB 37003485916120.602
121        Vietnam 24923918553291.105
122    Yemen, Rep.  3841173674265.269
123         Zambia  4839960042308.271
124       Zimbabwe  2928537539189.620

[125 rows x 2 columns]

#### *Country with the highest debt*

In [30]:
cleaned_csv_file.groupby('Country Name')['debt'].sum().sort_values(ascending=False).head(1)

Country Name
China   377762854199707.438
Name: debt, dtype: float64

#### *Average amount of debt across indicators*

In [31]:
cleaned_csv_file.groupby('Country Name')['debt'].agg(np.average).reset_index()

      Country Name             debt
0      Afghanistan   1944195242.155
1          Albania   4637924535.856
2          Algeria  40680507650.831
3           Angola  34938537159.037
4        Argentina 163105498859.706
..             ...              ...
120  Venezuela, RB  92508714790.302
121        Vietnam  62309796383.228
122    Yemen, Rep.   9602934185.663
123         Zambia  12099900105.771
124       Zimbabwe   7321343847.974

[125 rows x 2 columns]

#### *The highest amount of principal repayments*

In [32]:
dept_indicator_name=merge_file.groupby(['Series Code','Indicator Name'])['debt'].sum().reset_index() 
dept_indicator_name.iloc[np.where(dept_indicator_name['Indicator Name'].str.contains('repayments'))].sort_values(by='debt',ascending=False)

,Series Code,Indicator Name,debt
25,DT.AMT.DLXF.CD,"Principal repayments on external debt, long-te...",77206525290713.297
24,DT.AMT.DLTF.CD,"Principal repayments on external debt, long-te...",58916360015712.102
27,DT.AMT.DPNG.CD,"Principal repayments on external debt, private...",44861849524029.500
28,DT.AMT.DPPG.CD,"Principal repayments on external debt, public ...",32344673671729.500
22,DT.AMT.DEPS.CD,"Principal repayments on external debt, public ...",23335968486305.199
21,DT.AMT.DEGG.CD,"Principal repayments on external debt, general...",19928571135460.801
26,DT.AMT.DOPS.CD,"Principal repayments on external debt, other p...",11719152297510.299
69,DT.AMT.PRPG.CD,"Principal repayments on external debt, private...",163958823485.600

#### *The most common debt indicator*

In [33]:
cleaned_csv_file['Series Code'].value_counts()

DT.GPA.DPPG           125
DT.NTR.BLAT.OPS.CD    125
DT.DIS.PBND.OPS.CD    125
DT.AMT.PBND.OPS.CD    125
DT.TDS.BLTC.OPS.CD    125
                     ...
DT.DOD.DPPG.CD        125
DT.DOD.DPNG.CD        125
DT.DOD.PRPG.CD        125
DT.DOD.DOPS.CD        125
DT.NFL.PROP.CD        125
Name: Series Code, Length: 400, dtype: int64

#### *Other viable debt issues and conclusion*

In [34]:
cleaned_csv_file.groupby('Country Name')['debt'].max().sort_values(ascending=False).reset_index().head(10)

         Country Name                debt
0               China 155933632932082.000
1              Brazil  42131239879449.000
2               India  39274423390206.000
3  Russian Federation  31268359000000.000
4              Mexico  27959914195572.000
5            IDA only  19314486000000.000
6              Turkey  16663907174315.000
7           Indonesia  15682041786216.000
8           Argentina  11627797724559.000
9  Iran, Islamic Rep.   9652376367749.000